
body{ 
    margin:auto; 
    background-color: #CAE4E3;
    max-width: 315px;
}
#prlx_lyr_1{
        position:fixed;
        background: url() no-repeat 0px 200px;
        width:100%;
        height:800px;
    }
#prlx_lyr_2{
        position:fixed;
        background: url() no-repeat 600px 400px;
        width:100%;
        height:1000px;
    }

.kalender-container{
    display: grid;
    grid-template-areas:
    "h h . . . o o . . ."
    "a a a a a . d d d ."
    "a a a a a e e e e ."
    "s s s s s s s s s s"
    "b b b b b . c c c ."
    "b b b b b g g g g ."
    ;
    grid-template-columns: repeat(10 ,1fr);
    box-sizing: border-box;
    padding-left: 1em;
    margin-bottom: 5%;
    grid-gap: 5px;

background-color: #ffffff;
}


.modul1{
    grid-area: a;
    background-color: #ffffff;
    padding-left: 0.5em;
}

.modul2{
    grid-area: b;
    background-color: #FFFFFF;
    padding-left: 0.5em;
}

.top{
    grid-area: d;
    margin-bottom: 0.3em;
    background-color: #ffffff;
}

.bund{
    grid-area: c;
    background-color: #ffffff;
}

.forberedelse1{
    grid-area: e;
    color: #00454E;
    font-family: 'arial';    
    font-size: 14px;
    background-color: #CAE4E3;
    text-decoration: underline;
    border: none;
    border-radius: 10px;
    padding: 3%;
    margin-bottom: 1em;
}

.forberedelse2{
    grid-area: g;
    color: #00454E;
    font-family: 'arial';    
    font-size: 14px;
    background-color: #CAE4E3;
    text-decoration: underline;
    border: none;
    border-radius: 10px;
    padding: 3%;
    margin-bottom: 1em;
}

.forberedelse1:hover {
    background-color: rgb(71,185,179,80%);
}

.forberedelse2:hover {
    background-color: rgb(71,185,179,80%);
}

.dag{
    grid-area: h;
}

p{
    color: #00454E;
    font-family: 'arial';    
    font-size: 17px;
}


h1{
    color: #00454E;
    background-color: #FFFFFF;
    font-family: 'arial';
    font-size: 6vw;
    display: flex;
    justify-content: center;
    background-color: white;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 5%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}
h2{
    color: #00454E;
    background-color: #FFFFFF;
    padding: 0.3em;
    font-family: 'arial';
    font-size: 6vw;
}

.uge{
    display: none;
}

.dato{
    grid-area: o;
}

.knap{
    height: 62.83px;
    width: auto;
}

.prev{
    text-decoration: underline;
    border: none;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.prev:hover {
    background-color: rgb(71,185,179,80%);
}
.prev:active{
    background-color: #00454E;
}

.next{
    background-color: #ffffff;
    text-decoration: underline;
    border: none;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.next:hover {
    background-color: rgb(71,185,179,80%);
}

.next:active{
    background-color: #00454E;
}
