body{
    background-color: #47B9B3;
    max-width: 390px;
}

.kalender-container{
    display: grid;
    grid-template-areas:
    "a b"
    "a b";
    grid-template-columns: repeat(2 ,1fr);
}

.grid-item{
    padding-left: 1%;
    padding-bottom: 1%;
}

p{
    color: #00454E;
}

h1{
    color: #00454E;
}

h2{
    color: #00454E;
}

.left-blok{
    background-color: #CAE4E3;
    grid-area: a;
    padding-bottom: 2px;
    padding-left: 2px;
}

.grid-item .tid{
    background-color: #CAE4E3;
    grid-area: b;
}

